body {
  font-family: "Asap";
  background: #fafaff;
}
.navbar {
  background-color: #0f1837;

  ul {
    li a {
      font-size: 20px;
      font-weight: 400;
      color: #b0c3c9 !important;
    }
    li .active {
      color: #83d987 !important;
    }
  }
}
.section-hero {
  background-color: #0f1837;
  background-size: cover;
  height: 788px;
  .shape-union {
    background-image: url(../images/Union.svg);
    height: 673px !important;
    background-repeat: no-repeat;
  }
  .shape-svg {
    background-image: url(../images/shape.svg);
  }
  .hero-content {
    margin-top: 70px;
    h1 {
      color: #fff;
      font-weight: 600;
      font-size: 50px;
      padding-top: 70px;
    }
    .btn-explore {
      background-color: #83d987;
      color: #fff;
      border-radius: 25px;
      font-size: 16px;
      width: 170px;
    }
    img {
      margin-top: 30px;
      max-height: 380px !important;
    }
  }
}

.section-partners {
  padding-top: 120px;
}
.section-benefit {
  padding-top: 120px;
  .item-subtitle {
    font-size: 22px;
    font-weight: 500;
  }
  h2 {
    color: #0f1d37;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 50px;
  }
  .learn-more a {
    color: #0f1d37;
    font-size: 18px;
    font-weight: 400;
  }
}

.section-features {
  margin-top: 120px;
  h2 {
    color: #0f1d37;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 60px;
  }
  .card {
    border-radius: 16px;
    border: none;
    .card-body {
      img {
        max-height: 55px;
      }
      .flex-grow {
        float: right;

        p {
          margin-top: -5px;
          color: #cacad2;
        }
      }
      h3 {
        margin-top: 70px;
        font-size: 48px;
        font-weight: 600;
        color: #10495c;
      }
      span {
        font-weight: 400;
        font-size: 22px;
        color: #0f1d37;
      }
      h5 {
        margin-top: 67px;
        color: #0f1d37;
        font-size: 22px;
      }
      .btn-fulltime {
        background-color: #83d987;
        color: #fff;
      }
    }
  }
  .more-info a {
    color: #0f1d37;
    font-size: 18px;
    font-weight: 400;
  }
}

.section-footer-content {
  background-color: #0f1837;
  background-size: cover;
  height: 788px;
  .shape-footer {
    background-image: url(../images/union_footer.svg);
  }
  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 42px;
  }
  p {
    color: #b0c3c9;
    font-size: 16px;
  }
  button {
    background-color: #83d987;
    color: #fff;
  }
  .copyright {
    color: #b0c3c9;
    font-size: 18px;
  }
}
