body {
  font-family: "Asap";
}

.section-hero {
  background-color: #0f1837;
  background-size: cover;
  height: 788px;
  .shape-union {
    background-image: url(../images/Union.svg);
    height: 673px !important;
    background-repeat: no-repeat;
  }
  .shape-svg {
    margin-top: -10px !important;
    background-image: url(../images/shape.svg);
  }
  .hero-content {
    margin-top: 70px;
    h1 {
      color: #fff;
      font-weight: 600;
      font-size: 50px;
      padding-top: 70px;
    }
    .btn-explore {
      background-color: #83d987;
      color: #fff;
      border-radius: 25px;
      font-size: 16px;
      width: 170px;
    }
    img {
      margin-top: 30px;
      max-height: 380px !important;
    }
  }
}

.section-partners {
  padding-top: 120px;
}
.section-benefit {
  padding-top: 120px;
  .item-subtitle {
    font-size: 22px;
    font-weight: 500;
  }
  h2 {
    color: #0f1d37;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 50px;
  }
  .learn-more a {
    color: #0f1d37;
    font-size: 18px;
    font-weight: 400;
  }
}
